<a href="https://colab.research.google.com/github/adailtoneumesmo/facudade/blob/main/Untitled7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#montar grafico atraz do python

import matplotlib.pyplot as plt
import random

dados1 = random.sample(range(100), k=20)
dados2 = random.sample(range(100), k=20)
#mostra as junçõa de pontos
plt.plot(dados1,dados2)

In [ ]:
#Mostra grafico por barras
plt.bar(dados1,dados2)

In [ ]:
import pandas as pd

dados = {
    'Produtos': ['A', 'B', 'C'],
    'qtde_vendida': [33, 50, 45]
}
df= pd.DataFrame(dados)
df.plot(x='Produtos', y='qtde_vendida', kind='bar')

In [ ]:
df.plot(x='Produtos', y='qtde_vendida', kind='pie')

In [ ]:
df.plot(x='Produtos', y='qtde_vendida', kind='line')

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.set (style="whitegrid")#opções: darkgrid, whitegrid, dark, white, ticks

df_tips = sns.load_dataset('tips')
print(df_tips)

In [ ]:
fig, ax =plt.subplots(1,3, figsize=(15,5))
#grafico pelo media do sex
sns.barplot(data=df_tips, x='sex', y='total_bill', ax=ax[0])
#grafico pela soma do sex
sns.barplot(data=df_tips, x= 'sex', y='total_bill', ax=ax[1], estimator=sum)
#grafico pelo quntidade
sns.barplot(data=df_tips, x= 'sex', y= 'total_bill', ax=ax[2], estimator=len)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

sns.set(style='whitegrid')
df = sns.load_dataset('tips')

plt.figure(figsize=(8,5))
sns.barplot(x='time', y='total_bill', data=df, estimator=sum, palette="Set2")
plt.xlabel('Período (Time)')
plt.ylabel('Total de Gastos')
plt.title('Total de gastos por período (Almoço ou Janta)')
plt.show()

In [ ]:
plt.figure(figsize=(8,5))
sns.barplot(x='time', y='total_bill', data=df)
plt.xlabel('Período (Time)')
plt.ylabel('Média de Gastos')
plt.title('Media de gastos por período (Almoço ou Janta)')
plt.show()

In [ ]:
plt.figure(figsize=(8,5))
sns.barplot(x='time', y='total_bill', data=df, palette="Set3")
plt.xlabel('Período (Time)')
plt.ylabel('Total de Gorgetas')
plt.title('Total de gogetas por período (Almoço ou Janta)')
plt.show()

In [ ]:
import sqlite3
conn = sqlite3.connect('fincionarios.db')

In [ ]:
#criar tabela no banco
cursor =  conn.cursor()
cursor.execute('''
CREATE TABLE IF NOT EXISTS funcionarios(
    id INTEGER PRIMARY KEY,
    nome TEXT,
    cargo TEXT,
    salario REAL
    )
    ''')

In [ ]:
# Inserir dados na tabela
novo_funcionario =(2, 'Maria', 'Gerente', 15000.00)
cursor.execute('INSERT INTO funcionarios VALUES (?, ?, ?, ?)', novo_funcionario)
conn.commit()

In [ ]:
#consultar e exibir o funcionario
cursor.execute('SELECT * FROM funcionarios')
funcionarios = cursor.fetchall()
print('Fncionario Cadastrado')
for funcionario in funcionarios:
    print(funcionario)

In [ ]:
#Atualizar funcionario
atualizacao = ('Maria', 1500.00, 3)
cursor.execute('UPDATE funcionarios SET nome = ?, salario = ? WHERE id = ?', atualizacao)
conn.commit()

In [ ]:
#deletar funcionario
id_funcionario_para_deletar= 1
cursor.execute  ('DELETE FROM funcionarios WHERE id = ?', (id_funcionario_para_deletar,))
conn.commit()